.service-card:hover .service-img {
  display: none;
}
.service-btn {
  display: none;
}
.service-card:hover .description {
  display: block;
}
.service-card:hover .service-btn {
  display: inline-block;
}
